.footer__flex-content{
  height: 35vh;
  width: 100vw;
  background-color: #131318;
  padding: 15vw 0;
  display: grid;
  grid-template-columns: auto auto 15%;
  justify-content: center;
  gap: 3vw;
}

.footer__contact-us{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: "Poppins";
}

.footer__follow-us{
  overflow: visible;
  margin-left: 20vw;
  display: inline-flex;
  flex-direction: column;
  font-family: "Poppins";
  color: white;
  text-align: center;
}
@media screen and (max-width:640px){
  .footer__follow-us{
    margin-left: 0px;
  }
  .ma{
    font-size: 8px;
  }
}

.footer__arrow-content{
  width: max(3vw, 24px);
  position: relative;
  padding-left: 25%;
}

.footer__contacts{
  display:grid!important;
  grid-template-columns: repeat(3, 1fr)!important;
}

.footer__contact{
  width: max(48px, 3.7vw)!important;
  height: max(48px, 3.7vw)!important;
  position: relative;
  left:0px;
}

.footer__activity{
  margin-top: 7vw!important;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.3vw!important;
}

.footer__activity-text{
  color: white;
  font-family: Poppins;
}

footer{
  padding-top: min(10vh, 150px)!important;
  width:100vw;
}