{% extends "base.html" %}

{% load static %}

{% block content_links %}
    <link rel="stylesheet" href="{% static "css/about.css" %}">
{% endblock %}

{% block content %}
    <div class="centered-content">
    <div class="content">

      <div class="rect rect-big rect-one-settings">

      </div>
      <div class="other-content">
        <p class="middle-text bold-text mt">About Us</p>
        <div class="line"></div>
        <p class="small-text bigger-text">Empire Designs is a small design agency. We make design for businesses and companies like us.Our designers are from different parts of the world and this is even easier for us. We help each other, we work as a team.
          And we are ready to help you.</p>
        <p class="small-text fl">Your design - our job</p>
      </div>

      <div class=" rect-two-settings rect rect-medium " style="position: fixed;"></div>
    </div>
  </div>
{% endblock %}

{% block footer %}

{% endblock %}