{% extends "base.html" %}
{% load static %}
{% block content_links %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}
    <style>
    *{
        transition: 0.3s;
    }

    .trigger{
        height: 20px;
        width: 100vw;
        position: fixed;
        top:0px;
        left:0px;
    }

    .cube_container{
        width: 100vw;
    }
    .cube_dec_pos{
        right: 50px;
        transform: rotate(45deg);
        filter: blur(3px);
        /*top:-30px;*/
        z-index: 100;
    }

    #here-to-help-cont{
        margin-top: -5vw;
        position: absolute;
    }
    #cube-text{
        color: white;
        position: relative;
        float:right;
        top:200px;
        opacity:0;
        font-weight: 600;
    }

    .logo-descr__read-more-btn:hover{
        opacity:0.7;
    }

    .order-now-button{
      font-style:italic;
    }

    .what-we-do__block-content{
      font-style:italic;
    }

    .logo-descr__text{
      min-width:300px!important;
    }

    .logo-descr__content{
      display:grid;
      width:70%;
      grid-template-columns:1fr 1fr;
      justify-content:row-end;
      justify-items:center;
      align-items:center;
      grid-gap:10vw;
    }
    @media (max-device-width:1200px){
      .logo-descr__content{
        grid-template-columns:1fr!important;
      }
    }
    @media (max-device-width:1320px){
      .positioned-thift-rect{
        display:none;
      }
    }
    .cube-dec-pos{
      position:absolute!important;
    }
    </style>
    <div class="start-business-part scene">
    <div data-depth="0.2" class="first-rect-position rect-large">
      <div class="rect rect-large blur30 rotate-half"></div>
    </div>
    <div data-depth="0.3" class="second-rect-position rect-medium">
      <div class="rect rect-medium blur5 rotate-half"></div>
    </div>
    <div data-depth="0.1" class="start-business-text">
      Start your <span style="color:#12BDBD">business</span>
    </div>

  </div>
    <div class="cube_container" id="cube_container">
    </div>
              <div class="rect rect-big cube_dec_pos" id="cube" style="filter:blur(0px)!important;">

              </div>
                      <div id="cube-text" class="large-text large-large-text">With <span style="color:#12BDBD">US</span></div>
    <div style="margin-bottom: min(1000px, 120vh);"></div>
  <!--<div class="with-us-block scene" id ="with-us" style="margin-top: 40vh;">
    <p data-depth="0.1" class="large-text large-large-text">WITH <span style="color:#12BDBD">US</span> </p>
  </div>-->

  <div class=" slider slider-one">
    <div class="slider-content">
      <img src="{% static "imgs/1-small.png" %}" alt="" class="slider-content-1">
    </div>
    <div class="slider-content">
      <img src="{% static "imgs/2-small.png" %}" alt="" class="slider-content-1">
    </div>
    <div class="slider-content">
      <img src="{% static "imgs/3-small.png" %}" alt="" class="slider-content-1">
    </div>
    <div class="slider-content">
      <img src="{% static "imgs/4-small.png" %}" alt="" class="slider-content-1">
    </div>
    <div class="slider-content">
      <img src="{% static "imgs/5-small.png" %}" alt="" class="slider-content-1">
    </div>
    <div class="slider-content">
      <img src="{% static "imgs/6-small.png" %}" alt="" class="slider-content-1">
    </div>
    <div class="slider-content">
      <img src="{% static "imgs/7-small.png" %}" alt="" class="slider-content-1">
    </div>

  </div>

  <div class=" slider slider-two" >
    <div class="slider-two-content">
      <img src="{% static "imgs/1-medium.png" %}" alt="">
    </div>
    <div class="slider-two-content">
      <img src="{% static "imgs/2-medium.png" %}" alt="">
    </div>
    <div class="slider-two-content">
      <img src="{% static "imgs/3-medium.png" %}" alt="">
    </div>
    <div class="slider-two-content">
      <img src="{% static "imgs/4-medium.png" %}" alt="">
    </div>
    <div class="slider-two-content">
      <img src="{% static "imgs/5-medium.png" %}" alt="">
    </div>
    <div class="slider-two-content">
      <img src="{% static "imgs/6-medium.png" %}" wealt="">
    </div>
  </div>

  <div class="slider slider-three" style="z-index:0!important;">
    <div class="slider-three-content">
      <img src="{% static "imgs/1-large.png" %}" alt="" style="height: 420px;">
    </div>
    <div class="slider-three-content">
      <img src="{% static "imgs/2-large.png" %}" alt="">
    </div>

    <div class="slider-three-content">
      <img src="{% static "imgs/3-large.png" %}" alt="">
    </div>

  </div>
    <div class="project__container">
            <button class="order-now-button small-text" style="border:none; margin: 3vw 0px; font-style:normal;" onclick="
            window.location.href = '{% url "get_all_posts" %}'
">Projects</button>

    </div>
    <div id="here-to-help-cont">
    </div>
  <div class="here-to-help" id="here-to-help" style="z-index:100; position:absolute;">
    <p class="here-to-help-text large-text" >we're here to
      <span style="color:white; background-color: rgba(0, 0,0,0);">help</span> </p>
  </div>

  <div class="logo-descr scene" style="pointer-events: auto!important; margin-top:40vh;">
    <div data-depth="0.1" class="positioned-thift-rect">
      <div  class="rect rect-large rotate-half blur30"></div>
    </div>
    <div class="logo-descr__content">
      <div data-depth="0.15" class="logo-descr__text middle-text" style="pointer-events: auto!important; width:100%!important;">
      <p class="text-sett" style="font-size:26px; width:100%!important;">We are here to help you start your own <span class="h">business</span>. The <span class="h">design</span> is one of the most <span class="h">important</span> parts here.
      </p>
      <div class="logo-descr__read-more-btn"  style="z-index: 15; font-size:24px;" style="pointer-events: auto!important;" onclick="window.location.href='{% url "about" %}';">
        <p>Read more</p>
        <img src="{% static "resources/triang.svg" %}" alt="" class="img-sett">
      </div>
    </div>
    <img data-depth="0.05" onclick = "window.location.href = '{% url "about" %}'; console.log('shit')" src="{% static "resources/large-logo.svg" %}" alt="" style="width:80%; min-width:300px;">
    </div>
    
  </div>

  <div class="order-logo-now scene">
    <div data-depth="0.09" class = "rect-third-pos">
      <div class="rect rect-medium rotate-half "></div>
    </div>
    <div data-depth="0.2" class="order-logo-now__text large-text">
      Order <span style="color:#12BDBD">now</span>
    </div>
    <div class = "rect-th-pos" data-depth="0.1">
      <div class="rect rect-big rotate-40 blur20 "></div>
    </div>
  </div>

  <div class="what-we-do">
    <p class="what-we-do__text middle-text">
      What we do:
    </p>
    <div class="what-we-do__content">
      <div class="what-we-do__block">
        <p class="what-we-do__block-content middle-text">3D MODELING</p>
        <p class="what-we-do__block-content middle-text">ILLUSTRATING</p>
        <p class="what-we-do__block-content middle-text">BRANDING</p>
        <p class="what-we-do__block-content middle-text">WEB DEV</p>
        <p class="what-we-do__block-content middle-text mobile-only">MARKETING</p>
        <p class="what-we-do__block-content middle-text mobile-only">UX/UI</p>
        <p class="what-we-do__block-content middle-text mobile-only">MOTION</p>
        <p class="what-we-do__block-content middle-text mobile-only">ARTS</p>

      </div>
      <div class="what-we-do__block pc-only">
        <p class="what-we-do__block-content middle-text">MARKETING</p>

        <p class="what-we-do__block-content middle-text">UX/UI</p>

        <p class="what-we-do__block-content middle-text">MOTION</p>

        <p class="what-we-do__block-content middle-text">ARTS</p>
      </div>
    </div>
  </div>
  <div class="order-now-button__container" onclick = "window.location.href = '{% url "what-you-need" %}'">
    <div class="order-now-button middle-text">
      ORDER NOW
    </div>
  </div>
    <div class="trigger" id="trigger"></div>


    <script src=" {% static "js/parallax.js" %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>


  <script>
    for (let i of document.getElementsByClassName("scene")){
      new Parallax(i);
    }

    function inViewport (el) {

    var r, html;
    if ( !el || 1 !== el.nodeType ) { return false; }
    html = document.documentElement;
    r = el.getBoundingClientRect();

    return ( !!r
      && r.bottom >= 0
      && r.right >= 0
      && r.top <= html.clientHeight
      && r.left <= html.clientWidth
    );


  }
  flag = false;
  window.onscroll = () => {
    let el = document.getElementsByClassName("what-we-do__block-content");
    for (let i of el) {
      if (inViewport(i)){
        i.style.transform = "translate(10%, 0px)"
      }
      else{
        i.style.transform = "translate(-100%, 0px)"
      }
    }
  }

  var controller = new ScrollMagic.Controller();
  //let tween = TweenMax.to("#cube", 3, {scale: 2, repeat: 1, yoyo: true})
    let tw = new TimelineMax().from("#cube", 0.1, {scale: 1})
    .to("#cube", 1.5, {scale: 5, yoyo: true})
           .from("#cube-text", 0, {translateX: "0", opacity:0})
        .to("#cube-text", 1, {translateX: "-50vw", opacity:1})
  new ScrollMagic.Scene({
      offset: 0,
      duration: 300,
      triggerElement: "#cube_container"
  }).setTween(tw)
    .addTo(controller)


    tw = new TimelineMax().from("#here-to-help", 0.0, {translateY: "0"})
        .to("#here-to-help", 1, {translateY: "-60vh", yoyo: true})


    new ScrollMagic.Scene({
        offset:0,
        duration: 300,
        triggerElement: "#here-to-help-cont"
    }).setTween(tw)
    .addTo(controller)

</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "js/carousel.js" %}"></script>
{% endblock %}