{% extends "base.html" %}

{% load static %}

{% block content_links %}
    <link rel="stylesheet" href="{% static "css/what-you-need.css" %}">
{% endblock %}

{% block content %}
    <div class="content">
    <div class="rect rect-medium pos-first" style="position:absolute!important;"></div>

    <div class="content__descr-text middle-text">
      First, tell us what you need
    </div>
    <div class="content__content">
      <div class="content-item__container" onclick = "window.location.href = '{% url 'contact-us' type='art' %}'">
        <img src="{% static "resources/art.svg" %}" alt="" class="content__item">
        <p class="big-text content__text">Art</p>
      </div>
      <div class="content-item__container" onclick = "window.location.href = '{% url 'contact-us' type='3d' %}'">
        <img src="{% static "resources/cube.svg" %}" alt="" class="content__item">
        <p class="big-text content__text">3D</p>
      </div>
      <div class="content-item__container" onclick = "window.location.href = '{% url 'contact-us' type='logo' %}'">
        <img src="{% static "resources/logo_zakaz.svg" %}" alt="" class="content__item">
        <p class="big-text content__text">Logo</p>
      </div>
      <div class="content-item__container" onclick = "window.location.href = '{% url 'contact-us' type='web' %}'">
        <img src="{% static "resources/web.svg" %}" alt="" class="content__item">
        <p class="middle-text content__text">UX/UI</p>
      </div>
      <div class="content-item__container" onclick = "window.location.href = '{% url 'contact-us' type='other' %}'">
        <img src="{% static "resources/idk.svg" %}" alt="" class="content__item">
        <p class="middle-text content__text">Other/<br> question</p>
      </div>
    </div>
  </div>
  <div class="pos-sec rect rect-large" style="position: fixed;"></div>
{% endblock %}
{% block footer %}

{% endblock %}